<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet">
  </head>
  <body>
<h1 class="text-5xl font-extrabold dark:text-white"><%= message %></h1>

  </body>
</html>
