<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <img class="w-20 h-20 rounded" src="<%= avatar %>" alt="Large avatar">
    <h1>Username:<%= username %></h1>
    <h1>Email:<%= email %></h1>
  </body>
</html>
